#myDivForm {
  background-color:rgb(245, 247, 248);
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(17, 39, 71);
  border-radius: 3px;
  margin: 0.5rem auto;
  max-width: 80vw;
}
#myTable {
  background-color: rgb(245, 247, 248);
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(17, 39, 71);
  border-radius: 3px;
  margin: 0.5rem auto;
  max-width: 95vw;
}